/* basic reset from eric meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td  {border:0 none;margin:0;padding:0;}
body{line-height: 1;}
blockquote,q{quotes: none;}
:focus{outline: 0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0 none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style-image:none;list-style-position:outside;list-style-type:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}

article,section,nav,header,footer{display:block;}
p{line-height:1.4em;}
html{font-size:62.5%;}
body{font-size:16px;text-align:center;}
#wrapper{margin:0 auto;width:1200px;text-align:left}
header,section,footer{padding:1em 0}

h1{line-height:1.2em;margin-bottom:0.5em}
header{font-size:2em;}
header h1{font-size:3em;border-bottom:2px solid}
header .sub{font-size:0.5em;}

section{overflow:hidden;}
section h1{font-size:1.5em;border-bottom:1px dashed;}
.sub-countdown{margin:1em 0;overflow:hidden;}
.countdown{float:left;text-align:center;width:400px;margin:2em 100px;opacity:0.5;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;transition:all 0.5s;animation: bump 2s;-moz-animation: bump 2s;-webkit-animation: bump 1s;-o-animation: bump 1s;}
.countdown h2{text-align:left;border-bottom:2px solid;margin:0 1em 0.5em;font-size:1.2em}

.countdown p{float:left;width:130px;line-height:1.5em;}
.countdown .number{display:block;font-size:2em;}
.animation{opacity:1;color:red;}

footer{margin:2em;padding:1em;border-top:2px solid;}